
.footer {
    /* background-color: rgb(67, 74, 66); */
    background: rgb(97, 33, 15);
    padding: 50px 0;
  }
  
  .footer .item-social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin-left: 10px;
    margin-top: 22px;
    color: inherit;
    opacity: 0.75;
  }
  
  .footer .copyright {
    margin-top: 14px;
    margin-bottom: 0;
    font-size: 13px;
    opacity: 0.6;
    color: white;
  }
  
  .footer .item-social {
    text-align: center;
  }
  
  .footer .item-social>a:hover {
    opacity: 0.25;
  }
  
  .footer .item-social a {
    color: white;
  }
  
  .footer .mailinglist {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 20px;
  }
  #Email {
    padding-right: 20px;
  }
  .submit {
    margin-top: 10px;
    background-color:rgb(225, 202, 150);
  }