.sliderStyles {
    height: 100%;
    position: static
}
.leftArrowStyles {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 32px;
    max-height: 40px;
    cursor: pointer
}
.rightArrowStyles {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 32px;
    max-height: 40px;
    cursor: pointer
};