.navbar {
    background: rgb(205, 137, 135);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar img {
    height: 100px;
    width: 300px;
}

.listitem {
    display: inline-block;
    font-size: 1.5rem;
    padding-left: 20px;
}
.link {
    text-decoration: none;
    color: black;
}